@import url('https://fonts.googleapis.com/css2?family=Hero:wght@400;700&display=swap');
body {
    font-family: Roboto, sans-serif;
    width: auto;
    height: auto;
    
}
.header {
    color: #F9FAF8;
    background: #1F2937;
    padding: 30px 160px 60px 160px;
    height: 400px;   
}

.header-top {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
   text-decoration: none; 
   color: #F9FAF8;
}

.header-bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.bottom-header {
    font-size: 48px;
    font-weight: bold;
}

button.sign-up {
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid #3882f6;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.image-holder {
    background: slategray;
    width: 480px;
    height: 230px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    height: 400px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin: 36px;
}

.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
   
   
.info { 
    height: 150px;
    width: 130px; 
}

.inner-info {
    border: 5px solid #3882F6;
    height: 130px;
    width: 130px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card {
    height: 350px;
    background: #E5E7EB;
    display: flex;
    color: #1F2937;
    align-items: center;
    justify-content: center;  
    padding-right: 300px;
    padding-left: 250px;
}
.card-content {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.above-mrcholo {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;  
}

.mrcholo {
    font-weight: 900;
    font-size: 30px;
    font-style: normal;
    align-self: flex-end;     
}

.after-card {
    height: 350px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


    

.after-card .inner {
    height: 160px;
    background: #3882F6;
    color: white;
    width: 800px;
    border-radius: 10px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.call-to-act {
    font-size: 19px;
    font-weight: bold;
}

.after-card .sign-up {
    border: 1px solid white;
    background: #3882F6;
    align-self: flex-end;
    justify-self: center;
    
}

.footer {
    background: #1F2937;
    height: 162px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
